.App-header{
/* width: auto; */
}
@media screen  and (max-width: 400px) {

    /* .py-4.m-auto{

        margin: 0 !important;
        padding: 0!important;

    }

    .fs-3 {
        font-size: 1rem!important;
    }

    .py-2 {
        padding: 0 !important;
    }
    .fs-4 {
        font-size: 1rem!important;
    }

    .fs-2 {
        font-size: 1.2rem!important;
    } */


}